<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/sema-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SEMA
  </a>
</nav>
<hr>

<div class="container-full">
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="container-full" id="snap" *ngFor='let quote of quotes;let i=index'>
          
              <ul >
                <li>
                  <div class="text-left header">
                    <h4>{{quote.author}}</h4> <br>
                  </div>
                  <div class="text-left quotecornertent">
                    <p appHighlight *ngIf="hUpvote()===quote.numberOfLikes && quote.numberOfLikes>0">
                      {{quote.quote}}
                    </p>
                    <p id="textbox" *ngIf="hUpvote()!==quote.numberOfLikes || quote.numberOfLikes===0">
                    {{quote.quote}}
                    </p>
                  </div>
                  <div class="footer text-right">
                    <p>Submitted by <strong>{{quote.uploadedBy}}</strong>, {{quote.postDate|semaDatecount}} days ago.</p>
                  </div>
                  <div class=" text-center kura">
                    
                  </div>
                  <div class="like-box">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="votenumber" id="kura">
                            {{quote.numberOfLikes}}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="votenumber" id="kura">
                            {{quote.numberOfDisLikes}}
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p class="votenumber" id="kura">
                            <button type="button" class="btn btn-success" id="likebutton" (click)="likeButtonClick(i)">Like</button>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="votenumber" id="kura">
                            <button type="button" class="btn btn-dark" id="dislikebutton" (click)="dislikeButtonClick(i)">Dislike</button>
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="container text-center sticky-bottom deleteQuote">
                    <app-sema-description [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-sema-description>
                  </div>
                </li>
              </ul>
      
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <div class="row">
            <div class="container-fluid">
              <div class="col-md-12"> 
                <app-sema-form (addNewQuote)="updateQuote($event)"></app-sema-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>



