@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Quicksand', sans-serif;
}